
$primary-color: #0091ea;
$grey-color: #e0e0e0;
$off-white-color: #f5f5f5;
$half-white-color: #fafafa;
$champion-color: #E8F5E9;
$disabled-color: #bdbdbd;
$medium-up: 600px;
$large-up: 1000px;
$font-primary-color: #424242;
$yellow-color: yellowgreen;